name: Release

on:
  push:

jobs:
  build-rust-binaries-darwin:
    runs-on: macos-latest
    name: Build Darwin Rust Binaries
    environment: production

    steps:
      - name: Checkout Hoop
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy
          override: true

      - name: Add Darwin Rust targets
        run: |
          rustup target add x86_64-apple-darwin
          rustup target add aarch64-apple-darwin

      - name: Set Git Tag
        run: echo "GIT_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Build Darwin Rust Binaries
        env:
          GIT_TAG: ${{ env.GIT_TAG }}
        run: make build-rust-darwin-all

      - uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts-${{ github.job }}
          path: dist/

  build-rust-binaries-linux:
    runs-on: ubuntu-latest
    name: Build Linux Rust Binaries
    environment: production

    steps:
      - name: Checkout Hoop
        uses: actions/checkout@v3

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy
          override: true

      - name: Add Linux Rust targets
        run: |
          rustup target add x86_64-unknown-linux-gnu
          rustup target add aarch64-unknown-linux-gnu

      - name: Set Git Tag
        run: echo "GIT_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Build Linux Rust Binaries
        env:
          GIT_TAG: ${{ env.GIT_TAG }}
        run: make build-rust-linux-all

      - uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts-${{ github.job }}
          path: dist/

  darwin-amd64:
    runs-on: ubuntu-latest
    name: Build Darwin Amd64
    environment: production

    steps:
      - name: Checkout Hoop
        uses: actions/checkout@v3

      - name: Checkout libhoop
        uses: actions/checkout@v3
        with:
          repository: hoophq/libhoop
          path: "./libhoop"
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.23.8"
          cache-dependency-path: "**/go.sum"

      - name: Set Git Tag
        run: echo "GIT_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: amd64
        env:
          GIT_TAG: ${{ env.GIT_TAG }}
        run: GOOS=darwin GOARCH=amd64 make build-go

      - uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts-${{ github.job }}
          path: dist/

  darwin-arm64:
    runs-on: ubuntu-latest
    name: Build Darwin Arm64
    environment: production

    steps:
      - name: Checkout Hoop
        uses: actions/checkout@v3

      - name: Checkout libhoop
        uses: actions/checkout@v3
        with:
          repository: hoophq/libhoop
          path: "./libhoop"
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.23.8"
          cache-dependency-path: "**/go.sum"

      - name: Set Git Tag
        run: echo "GIT_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Build
        env:
          GIT_TAG: ${{ env.GIT_TAG }}
        run: GOOS=darwin GOARCH=arm64 make build-go

      - uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts-${{ github.job }}
          path: dist/

  windows-amd64:
    runs-on: ubuntu-latest
    name: Build Windows Amd64
    environment: production

    steps:
      - name: Checkout Hoop
        uses: actions/checkout@v3

      - name: Checkout libhoop
        uses: actions/checkout@v3
        with:
          repository: hoophq/libhoop
          path: "./libhoop"
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.23.8"
          cache-dependency-path: "**/go.sum"

      - name: Set Git Tag
        run: echo "GIT_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Build
        env:
          GIT_TAG: ${{ env.GIT_TAG }}
        run: GOOS=windows GOARCH=amd64 make build-go

      - uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts-${{ github.job }}
          path: dist/

  windows-arm64:
    runs-on: ubuntu-latest
    name: Build Windows Arm64
    environment: production
    needs: [test]

    steps:
      - name: Checkout Hoop
        uses: actions/checkout@v3

      - name: Checkout libhoop
        uses: actions/checkout@v3
        with:
          repository: hoophq/libhoop
          path: "./libhoop"
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.23.8"
          cache-dependency-path: "**/go.sum"

      - name: Set Git Tag
        run: echo "GIT_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Build
        env:
          GIT_TAG: ${{ env.GIT_TAG }}
        run: GOOS=windows GOARCH=arm64 make build-go

      - uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts-${{ github.job }}
          path: dist/

  linux-amd64:
    runs-on: ubuntu-latest
    name: Build Linux Amd64
    environment: production

    steps:
      - name: Checkout Hoop
        uses: actions/checkout@v3

      - name: Checkout libhoop
        uses: actions/checkout@v3
        with:
          repository: hoophq/libhoop
          path: "./libhoop"
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.23.8"
          cache-dependency-path: "**/go.sum"

      - name: Set Git Tag
        run: echo "GIT_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Build
        run: GOOS=linux GOARCH=amd64 make build-go

      - uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts-${{ github.job }}
          path: dist/

  linux-arm64:
    runs-on: ubuntu-latest
    name: Build Linux Arm64
    environment: production

    steps:
      - name: Checkout Hoop
        uses: actions/checkout@v3

      - name: Checkout libhoop
        uses: actions/checkout@v3
        with:
          repository: hoophq/libhoop
          path: "./libhoop"
          token: ${{ secrets.GH_TOKEN }}

      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.23.8"
          cache-dependency-path: "**/go.sum"

      - name: Set Git Tag
        run: echo "GIT_TAG=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Build
        run: GOOS=linux GOARCH=arm64 make build-go

      - uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts-${{ github.job }}
          path: dist/

  build-webapp:
    runs-on: ubuntu-latest
    name: Build Webapp
    environment: production
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: "zulu"
          java-version: "21"
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@12.5
        with:
          cli: 1.12.0.1479 # releases: https://clojure.org/releases/tools
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: webapp/package-lock.json
      - name: Build
        run: make build-webapp
      - uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts-${{ github.job }}
          path: dist/

  build-tar-files:
    runs-on: ubuntu-latest
    name: Build Tar Files
    environment: production
    needs: [darwin-amd64, darwin-arm64, windows-amd64, windows-arm64, linux-amd64, linux-arm64, build-webapp, build-rust-binaries-darwin, build-rust-binaries-linux]
    steps:
      - name: Checkout Hoop
        uses: actions/checkout@v3
        
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: dist-artifacts-*
          merge-archive: true
          path: dist/
          
      - name: Build Tar Files for All Architectures
        run: |
          GOOS=darwin GOARCH=amd64 make build-tar-files
          GOOS=darwin GOARCH=arm64 make build-tar-files
          GOOS=windows GOARCH=amd64 make build-tar-files
          GOOS=windows GOARCH=arm64 make build-tar-files
          GOOS=linux GOARCH=amd64 make build-tar-files
          GOOS=linux GOARCH=arm64 make build-tar-files
        
      - uses: actions/upload-artifact@v4
        with:
          name: dist-artifacts-${{ github.job }}
          path: dist/
